<div class="sticker effect-flip">
    <div class="effect-flip-box">
        <div class="sticker-normal front">
            <div class="sticker-display" data-ui="display"></div>
        </div>
        <div class="sticker-editable back">
            <div class="sticker-display sticker-display-back" data-ui="display"></div>
            <div class="sticker-editor">
                <textarea data-ui="editor"></textarea>
            </div>

            <div class="sticker-actions btn-group">
                <a class="btn" href="#" data-ui="delete">Delete</a>
                <a class="btn" href="#" data-ui="cancel">Cancel</a>
                <a class="btn" href="#" data-ui="save">Save</a>
            </div>
        </div>
    </div>
</div>
